<div class="dashboard" id="dashboard" >
    <div class="example-loading-shade"
          *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" (click)="categoryDetails()">Back</a>
    </div>
    <div class="dashboard" id="dashboard">
      <form [formGroup]="categoryForm" (ngSubmit)="onFormSubmit()">
        <div>
          <label for="catName">Category Name</label>
          <input matInput formControlName="catName" [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!categoryForm.get('catName').valid && categoryForm.get('catName').touched">Please enter Category
              Name</span>
          </mat-error>
        </div>
        <hr>
        <div>
          <label for="catContent">Department</label>
          <ckeditor matInput placeholder="About this Department" formControlName="catContent" required></ckeditor>
          <mat-error>
            <span *ngIf="!categoryForm.get('catContent').valid && categoryForm.get('catContent').touched">Please enter
              Category Description</span>
          </mat-error>
        </div> 
        <button type="submit" [disabled]="!categoryForm.valid" mat-flat-button color="primary">
          Save
        </button>
      </form>
    </div>
  </div>