.dashboard {
    background: url(https://image.freepik.com/free-vector/abstract-red-line-black-background-business-card_41981-1024.jpg), no-repeat center center fixed;
    min-height: 500px;
    background-size: cover;
}

.posting{
    background-color: rgba(255,255,255,0.7);
    color:black !important;
    padding: 20px;
    border: 1px solid black;
    cursor: pointer
}

.mat-flat-button {
    margin: 15px 15px 0 15px;
    background-color: grey;
    color: white;
}

