<div class="dashboard" id="dashboard">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="row">
    <a mat-flat-button [routerLink]="['add']">Add Job Posting</a>
  </div>
  <hr>
  <h3 class="text-center">Current Job Postings:</h3>
  <div class="row justify-content-center">
    <div class="col-md-2 posting" *ngFor="let post of data" [routerLink]="['details/', post._id]">
        <p><b>{{post.postTitle}}</b></p>
        <p> Last updated: {{post.updated | date: 'dd MMM yyyy'}}</p>
    </div>
  </div>
</div>