<div class="dashboard">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="row">
    <a mat-flat-button [routerLink]="['add']">Add Job Posting</a>
  </div>
  <hr>
  <div *ngFor="let post of data">
    <div class="card" class="example-table" [routerLink]="['details/', post._id]">

      <!-- Post Name Column -->
      <div class="card-title">
        <h4>{{post.postTitle}}</h4>
      </div>

      <!-- Post Description Column -->
      <div class="card-text">
        Updated: {{post.updated | date: 'dd MMM yyyy'}}
      </div>

      <mat-card-actions></mat-card-actions>

    </div>
  </div>
  </div>