<div class="dashboard" > 
  <div class="example-loading-shade"
        *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button [routerLink]="['add']">Add Post</a>
  </div>
  <div>
    <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="postName" matSortDisableClear matSortDirection="asc">

      <!-- Post Name Column -->
      <ng-container matColumnDef="postName">
        <th mat-header-cell *matHeaderCellDef>Post Name</th>
        <td mat-cell *matCellDef="let row">{{row.postName}}</td>
      </ng-container>

      <!-- Post Description Column -->
      <ng-container matColumnDef="postContent">
        <th mat-header-cell *matHeaderCellDef>Post Description</th>
        <td mat-cell *matCellDef="let row">{{row.postContent}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['details/', row._id]"></tr>
    </table>
  </div>
</div>
