<div class="dashboard">
  <br>
    <div class="card text-center"  id="main">
      <div class="card-title">
        <h3>Welcome to your dashboard!</h3>
      </div>
      <div class="card-text">
        Select an option from the admin controls
      </div>
    </div>
    <br>
    <br>
    <div class="card"  id="secondary">
      <div class="card-title text-center">
        <b>Some Tips for Getting Started!</b>
      </div>
      <div class="card-text">
        <ul>
          <li>If you need to directly edit the html code on a section, click the "<> source" button on the text-editor menu. <br>Be sure to click it again before you save any changes.</li>
          <li>Applicant and contractor records are not editable in this panel, so that no personal information can be changed or deleted without a formal request by the individual to the website manager.</li>
          <li>If you want sections added to the Home Page, please send a request to the website manager, and you will receive notification when the section is added and ready for content.</li>
          <li>"CTRL(or CMD) + P" will print all applications and contractor contacts in resume form.</li>
          <li>This site needs a record in the database for the home page, please make sure HOME.JSON is in the database pages collection.<br>The page is editable afterwards, but must be initially installed by the website manager.</li>
        </ul>
        <p class="text-center">-Summer</p>
      </div>
    </div>
</div>


