.dashboard {
    // background: url(https://image.freepik.com/free-vector/abstract-red-line-black-background-business-card_41981-1024.jpg), no-repeat center center fixed;
    min-height: 600px;
    background-color:(0,0,0,0.3)
}

hr {
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid grey;
    margin: 1em 0; 
    padding: 0;
}

.card {
    background-color: rgba(255,255,255);
    border-radius: 10px;
    color:black !important;
    padding: 20px;
    border: 1px solid black;
    max-width:50%;
    margin: auto
}

.card-text {
    margin:15px
}

li {
    padding-bottom: 5px;
}
  

#main, #secondary {
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

