.dashboard {
    background: url(https://image.freepik.com/free-vector/abstract-red-line-black-background-business-card_41981-1024.jpg), no-repeat center center fixed;
    min-height: 700px;
    background-size: cover;
}

.card-text {
    margin:15px
}