<form id="employment-form" novalidate="novalidate" name="employForm">

    <div class="ajax-hidden">
        <input placeholder="Full Name" required="required" />
    </div>

    <select class="form-control" placeholder="position">
        <option value="{{post._id}}" *ngFor="let post of posts">{{post.postTitle}}</option>
        <option value="no position selected">--select a position--</option>
    </select>

    <input class="form-control" type="email" placeholder="E-mail" required="required" />

    <input class="form-control" type="phone" name="" placeholder="Phone" required="required" />

    <textarea class="form-control" name="" rows="1" placeholder="Address Line 1 (include Unit/Apt #)"></textarea>

    <textarea class="form-control" name="" rows="1" placeholder="Address Line 2" ng-model=""></textarea>

    <textarea class="form-control" name="" rows="6" placeholder="Paste your resume here" ng-model=""></textarea>

    <div class="submit-button text-center">
        <a class="btn btn-custom-1-inverse" ng-click="" ng-disabled="">
            Send it 
        </a>
    </div>
    
</form>