<form id="employment-form" novalidate="novalidate" name="employForm">

    <div class="ajax-hidden">
        <input placeholder="Full Name" formControlName="appName" required="required" />
    </div>

    <label for="post">Department : </label>
        <select formControlName="post">
          <option *ngFor="let post of posts" [value]="post._id">
            {{post.postName}}
          <option>
        </select>

    <input class="form-control" formControlName="appEmail" type="email" placeholder="E-mail" required="required" />

    <input class="form-control" formControlName="appPhone" type="phone" name="" placeholder="Phone" required="required" />

    <textarea class="form-control" formControlName="appAddress1" rows="1" placeholder="Address Line 1 (include Unit/Apt #)"></textarea>

    <textarea class="form-control" formControlName="appAddress2" rows="1" placeholder="Address Line 2" ng-model=""></textarea>

    <textarea class="form-control" formControlName="appResume" name="" rows="6" placeholder="Paste your resume here - Plain text Only" ng-model=""></textarea>

    <div class="submit-button text-center">
        <a class="btn btn-custom-1-inverse" ng-click="" ng-disabled="">
            Send it 
        </a>
    </div>

</form>