<div class="dashboard" id="dashboard">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="row">
    <a mat-flat-button [routerLink]="['/home']">View</a>
  </div>
  <hr>
  <h3 class="text-center">Home Page:</h3>
  <div class="row justify-content-center">
    <div class="col-md-11 categories" *ngFor="let post of data" [routerLink]="['edit/', post._id]">
      <p> Updated: {{post.updated | date: 'dd MMM yyyy'}}</p>
      <p innerHTML={{post.pageHeader}}></p>
      <p innerHTML={{post.pageEmpl}}></p>
      <p innerHTML={{post.pageCont}}></p>
    </div>
  </div>
</div>