.dashboard {
    background: url(https://image.freepik.com/free-vector/abstract-red-line-black-background-business-card_41981-1024.jpg), no-repeat center center fixed;
    min-height: 700px;
    background-size: cover;
}

.mat-flat-button {
    margin: 15px 15px 0 15px;
    background-color: red;
    color: white;
}

.mat-flat-button:disabled {
    margin: 15px 15px 0 15px;
    background-color: rgb(124, 0, 0);
    color: grey !important;
}

.mat-input-element {
    padding: 10px;
    border: 1px solid grey;
    margin: 20px;
    width:95%
    }
    
    .label {
        margin: 10px
    }