<div class="dashboard" >
    <div class="example-loading-shade"
          *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/post']"><mat-icon>list</mat-icon></a>
    </div>
    <mat-card class="card">
      <form [formGroup]="postForm" (ngSubmit)="onFormSubmit()">
        <mat-form-field class="example-full-width">
          <select formControlName="category">
            <option *ngFor="let cat of categories" [value]="cat._id" required>
              {{cat.catName}}
            <option>
          </select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Post Title" formControlName="postTitle" [errorStateMatcher]="matcher" required>       
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Post Author" formControlName="postAuthor"[errorStateMatcher]="matcher" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <ckeditor matCkeditor placeholder="Post Qualifications" formControlName="postQualifications" required></ckeditor>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <ckeditor matCkeditor placeholder="Duties and Benefits" formControlName="postDescription" required></ckeditor>
          </mat-form-field>
        <div class="button-row">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Post Reference" formControlName="postReference" [errorStateMatcher]="matcher" rerquired>
        </mat-form-field>
          <button type="submit" [disabled]="!postForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
        </div>
      </form>
    </mat-card>
  </div>
