.dashboard {
    background: url(https://image.freepik.com/free-vector/abstract-red-line-black-background-business-card_41981-1024.jpg), no-repeat center center fixed;
    min-height: 700px;
    background-size: cover;
}

.posting {
    background-color: rgba(255,255,255,0.7);
    color:black !important;
    padding: 20px;
    border: 1px solid white
}

.btn-block {
    margin: 15px 15px 0 15px;
    background-color: red;
    color:white;
    padding: 10px 10px 5px;
}

.mat-flat-button {
    margin: 15px;
    background-color: grey;
    color:white;

}

#dashboard .posting {
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
