.dashboard {
    background-image: linear-gradient(0deg, rgba(255, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://image.freepik.com/free-vector/abstract-red-line-black-background-business-card_41981-1024.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 500px;
}

.mat-card {
    margin: 15px 0 0 15px;
}

.mat-flat-button {
    margin: 15px 15px 0 15px;
    background-color: red;
}

.mainContainer {
    max-width: 100% !important;
    margin: 0 !important;
    max-height: 100%;
    }