.dashboard {
    background: url(https://image.freepik.com/free-vector/abstract-red-line-black-background-business-card_41981-1024.jpg), no-repeat center center fixed;
    min-height: 500px;
    background-size: cover;
}
table.mat-table {
    margin: 15px 0 0 15px;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding: 24px;
}

.mat-flat-button {
    margin: 15px 15px 0 15px;
    background-color: white;
    color: black;
}