<div class="dashboard">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
        <a mat-flat-button color="primary" [routerLink]="['/contractor']">Back</a>
      </div>
      <hr>
    <div class="row contractor">
        <div class="col-md-6">
            <h3>{{contractor.conName}}</h3> 
            <h4>{{contractor.company}}</h4>
            <h4>Submitted: {{contractor.updated | date: 'dd MMM yyyy'}}</h4>
        </div>
        <div class="col-md-5">
            <h4>{{contractor.conPhone}}</h4>
            <h4>{{contractor.conEmail}}</h4>
            <h4>{{contractor.conAddress1}}, </h4>
            <h4>{{contractor.conAddress2}}</h4>
        </div>
        <div class="col-md-1">
            <a class="btn btn-block" button (click)="deleteContractor(contractor.id)">
                <mat-icon>delete</mat-icon>
            </a>
        </div>
        <hr>
        <div class="col-md-12">
            <p innerHTML={{contractor.message}}></p>
        </div>
    </div>
</div>
