.dashboard {
    // background: url(https://image.freepik.com/free-vector/abstract-red-line-black-background-business-card_41981-1024.jpg), no-repeat center center fixed;
    // min-height: 700px;
    // background-size: cover;
    min-height: 600px;
    background-color:(0,0,0,0.3)
}

.mat-card {
    margin: 15px 0 0 15px;
}

.btn-block {
    margin: 15px 15px 0 15px;
    background-color: red;
    color:white;
    padding: 10px 10px 5px;
}

.btn-block:hover{
    background-color: rgb(165, 165, 165);
}

.mat-flat-button {
    margin: 15px 15px 0 15px;
    background-color: grey;
    color: white;
}

.contractor {
    background-color: rgba(255,255,255);
    color: black !important;
    margin: 10px;
    padding: 40px;
    border: 1px solid black;
    border-radius: 10px;
}

.contractor .row {
    margin-bottom:20px;
    padding-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font: 700 46px/1.2 'Montserrat', serif, sans-serif;
    margin: 5px 0 5px;
    color: black !important;
}

strong{
    color:black !important
}

#dashboard .contractor {
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}