<div class="row rowOne" *ngFor="let page of pages">
  <div class="container">
    <div class="col-md-12 text-center">
      <p innerHTML={{page.pageHeader}}></p>
      <!-- <h3>JOIN OST AND BECOME A PART OF A WINNING TEAM!</h3>
      <p>We are seeking Independent Owner/Operators with HIGH CUBE box trucks to join our
        team.
        This
        unique business opportunity is ideal for someone that has experience in the home delivery and/or moving
        business.
        As an Independent Owner/Operator you will run a two man crew providing high quality home deliveries. We
        proudly represent
        our customers by showing extraordinary care, respect, and courtesy to their customers!
      </p> -->
    </div>
  </div>
</div>
<div class="tabs" *ngFor="let page of pages">
  <div class="tab">
    <input id="tab-1" type="radio" name="tab-group-1" checked="" />
    <label for="tab-1">Employee </label>
    <div class="content">
      <hr>
      <div class="col-md-12 open">
        <p innerHTML={{page.pageEmpl}}></p>
        <!-- <h3>Joining OST:</h3>
        <p>As an employee of Of Service Transportation, you would be an important member of a <b>TEAM</b> effort. We hope that you find your position with us rewarding, challenging, and productive. We would look to you and the other employees to contribute to the success of the Company.
        </p>
        
        <h3>Open Positions:</h3> -->
      </div>
      <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>
      <div class="row" id="jobBoard">
        <div class="col-md-3" id="jobNames">
          <div class="w3-bar">
            <button class="w3-bar-item w3-button w3-black tablink" *ngFor="let post of posts"
              (click)="selectPost(post)" [ngClass]="[selectedPost ? 'w3-black': 'w3-red']">{{post.postTitle}}</button>
          </div>
        </div>
        <div class="col-md-9" id="jobContainer">
          <div class="job w3-container w3-animate-opacity text-center" *ngIf="selectedPost === null, show">
            <br>
            <br>
            <h4>Since our success depends upon the dedication of our employees,<br><br>
              we are highly selective in choosing new members of our team. 
            </h4>
            <br>
            <br>
            <h3>
              Please select a position to view job details<br>
              ____________________________________________
            </h3>
          </div>
          <div class="job w3-container w3-animate-opacity" id="{{selectedPost.postTitle}}" *ngIf="selectedPost !== null, show">
            <h3 class="jobSections">{{selectedPost.postTitle}} -- Date Posted:
              {{selectedPost.updated | date: 'dd MMM yyyy'}}</h3>
            <h4 class="jobSections">Job Description</h4>
            <p innerHTML={{selectedPost.postDescription}}></p><br>
            <h4 class="jobSections">Qualifications</h4>
            <p innerHTML={{selectedPost.postQualifications}}></p><br>
            <h4 class="jobSections">For More Information Contact:</h4>
            <p innerHTML={{selectedPost.postReference}}></p>
            <br>
          </div>
        </div>
      </div>
      <div class="this">
        <br>
        <br>
        <a class="btn btn-block btn-custom-1-inverse" [routerLink]="['/applicant/add']">Apply to OST Now!</a>
      </div>
    </div>
  </div>
  <div class="tab">
    <input id="tab-2" type="radio" name="tab-group-1" />
    <label for="tab-2">Contractor </label>
    <div class="content">
      <hr>
      <div class="row" id="contractTab">
        <p innerHTML={{page.pageCont}}></p>
        <!-- <div class="col-md-12">
          <hr>
          <h3>Why join OST:</h3>
          <ul>
            <li>STRENGTH!
              <ul>
                <li>We service some of the largest retailers in the United States!</li>
              </ul>
            </li>
            <li>COMPENSATION!
              <ul>
                <li>We offer some of the most competitive settlement packages in the industry!</li>
                <li>We gladly pay out monthly bonuses!</li>
                <li>We offer volume pricing for some goods and services lowering your monthly costs!</li>
              </ul>
            </li>
            <li>LOCAL ROUTES – NO OVERNIGHTS!</li>
            <li>NO CDL REQUIRED!</li>
            <li>SIGNING BONUS!</li>
            <li>BUSINESS EXPANSION OPPORTUNITIES!</li>
          </ul>
        </div>
        <div class="col-md-12">
          <h3>Independent Contract Carrier Requirements:</h3>
          <ul>
            <li>Own or lease a late model 24ft or 26ft box truck in good condition</li>
            <li>Must be able to deliver and install all types of furniture and appliances</li>
            <li>Must have or be able to obtain your own Operating Authority (CA # / USDOT #)</li>
            <li>Must have or establish an LLC or Corporation with the Secretary of State</li>
            <li>Must have the ability to provide proof of insurance</li>
            <li>Must be able to provide a background check</li>
            <li>Ability to lift, move and assemble merchandise</li>
            <li>Provide own tools necessary to perform deliveries and installations</li>
            <li>Must be able to communicate well with customers (must speak and understand English)</li>
          </ul>
        </div>
        <div class="col-md-12">
          <p>For information regarding this opportunity, please submit your contact information below or call
            Ernesto Gomez direct at (951) 366-0276.</p>
        </div>
        <div class="col-md-12">
          <p>For information regarding NORTHERN CALIFORNIA opportunity, please submit your contact information
            below or call John Roberts direct at (562) 479-1971.</p>
        </div> -->
      </div>
      <div class="row">
        <div class="col-md-12">
          <br>
          <a class="btn btn-block btn-custom-1-inverse" [routerLink]="['/contractor/add']">Apply to OST Now!</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var id = post._id;
  collection.findOne({ name: value }, function (err, item) {
    res.send(item);
  });
</script>

<script type="text/javascript" src="/client/src/js/angular.js"></script>
<script type="text/javascript" src="/client/src/js/ost.js"></script>
<script type="text/javascript" src="/client/src/js/jobs.js"></script>
<!-- <script type="text/javascript" src="/client/src/js/custom.js"></script> -->

<script src="node_modules/core-js/client/shim.min.js"></script>
<script src="node_modules/web-animations-js/web-animations.min.js"></script>
<script>
  /**
   * you can configure some zone flags which can disable zone interception for some
   * asynchronous activities to improve startup performance - use these options only
   * if you know what you are doing as it could result in hard to trace down bugs..
   */
  // __Zone_disable_requestAnimationFrame = true; // disable patch requestAnimationFrame
  // __Zone_disable_on_property = true; // disable patch onProperty such as onclick
  // __zone_symbol__BLACK_LISTED_EVENTS = ['scroll', 'mousemove']; // disable patch specified eventNames

  /*
  * in IE/Edge developer tools, the addEventListener will also be wrapped by zone.js
  * with the following flag, it will bypass `zone.js` patch for IE/Edge
  */
  // __Zone_enable_cross_context_check = true;
</script>
<!-- zone.js required by Angular -->
<script src="node_modules/zone.js/dist/zone.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>