<div>
  <div class="row text-center" id="header">
    <div class="col-md-12">
       <a class="nav-link" [routerLink]="['/home']"> 
        <img class="img-responsive logo" id="logo" src="../../images/OSTLogoLarge.png" />
        </a>
      <h2 class="text-center subhead">Delivering
        Service<span>&nbsp;<b>FIRST!</b></span></h2>
    </div>
  </div>

  <div class="container mainContainer" id="mainContainer">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="loginStatus === true">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']">HomeView</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/category']">Departments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/post']">Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/applicant']">Applications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contractor']">Contractors</a>
          </li>
        </ul>
        <span class="navbar-text" (click)="logout()">Logout</span>
      </div>
    </nav>
    <router-outlet></router-outlet>
    <div class="row text-center" *ngIf="loginStatus === false">
      <div class="container">
        <div class="col-md-12 copyright"><small class="text-center">© 2020 OST Advantage</small></div>
      </div>
      <nav class="toolbarOne" text-center>
        <div>
          <button mat-button class="toolbarButtonOne" [routerLink]="['/login']">Admin</button>
        </div>
      </nav>
    </div>
  </div>
  
</div>