<div>
  <div class="nav" id="learn" *ngIf="loginStatus === false">
    <div class="container text-right"><a href="http://www.ostadvantage.com/" target="_blank" id="corpLink">Learn More About Us</a></div>
  </div>
  <div class="row text-center" id="header">
    <div class="col-md-12" *ngIf="loginStatus === true">
      <img class="img-responsive adminLogo" src="../images/OSTLogoLarge.png" />
      <h2 class="text-center subhead">Delivering
        Service<span>&nbsp;<b>FIRST!</b></span>&nbsp;&nbsp;&nbsp;</h2>
    </div>
    <div class="col-md-12" *ngIf="loginStatus === false">
      <a [routerLink]="['/home']">
        <img class="img-responsive logo" src="../images/OSTLogoLarge.png" />
      </a>
      <h2 class="text-center subhead">Delivering
        Service<span>&nbsp;<b>FIRST!</b></span>&nbsp;&nbsp;&nbsp;</h2>
    </div>
  </div>
  <div class="container mainContainer" id="mainContainer">
    <div class="topnav" id="myTopnav" *ngIf="loginStatus === true">
      <a class="nav-link" [routerLink]="['/admin']">Admin</a>
      <a class="nav-link" [routerLink]="['/category']">Departments</a>
      <a class="nav-link" [routerLink]="['/post']">Jobs</a>
      <a class="nav-link" [routerLink]="['/applicant']">Applications</a>
      <a class="nav-link" [routerLink]="['/contractor']">Contractors</a>
      <a class="nav-link" [routerLink]="['/page']">Home</a>
      <a href="javascript:void(0);" class="icon" (click)="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
      <span class="navbar-text" (click)="logout()">Logout</span>
    </div>
    <router-outlet></router-outlet>
  </div>
  <br>
  <footer class="container text-center center-block bottom" >
    <br />
    <div class="sm" *ngIf="loginStatus === false">
      <a href="#"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
      <a href="#"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
      <a href="#"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
      <a href="#"><i id="social-ig" class="fa fa-instagram fa-3x social"></i></a>
    </div>
    <div class="col-md-12 copyright"><small class="text-center">© 2020 OST Advantage</small></div>
    <nav class="toolbarOne" text-center *ngIf="loginStatus === false">
      <button mat-button class="toolbarButtonOne" [routerLink]="['/login']">Admin</button>
    </nav>
  </footer>