
.container {
    padding: 0.5%;
}

.toolbarOne{
    width: min-content;
    margin: 0 auto;
}

.toolbarButtonOne{
    font-size: small;
    color: white;
    text-decoration: underline;
    height: 50px;
    margin: 0 auto
}

.toolbarTwo{
    width: min-content;
    margin: 0 auto;
}

.toolbarButtonTwo{
    font-size: small;
    color: red;
    text-decoration: underline;
    height: 50px;
    background-color: rgba(0,0,0);
    margin: 0 auto
}

.mat-button:hover {
    cursor: pointer;
}

.navbar-text {
    margin:0 30px;
}

.navbar-text:hover {
    cursor: pointer;
}

.nav-item {
    padding: 0 5px;
}

.nav-item:hover {
    cursor: pointer;
}

#menuButton {
    color:red
}

.mat-menu-item {
    color:red;
    margin: auto
}

.mat-menu {
    height: 100% !important;
    width: 25% !important;
    margin: 0 auto !important;
}

