.container {
    padding: 0.5%;
}

.mat-toolbar {
    width: 50%;
    float: right
}

.mat-button{
    font-size: small;
    color: red;
    text-decoration: underline;
    height: 50px;
    background-color: rgba(0,0,0,0);
}

.mat-button:hover {
    cursor: pointer;
}

#menuButton {
    color:red
}

.mat-menu-item {
    background-color: red;
    color:white
}