<div class="example-container mat-elevation-z8">
  <mat-toolbar text-center>
    <div *ngIf="loginStatus === false">
      <!-- <button mat-menu-item [routerLink]="['/']">Home</button>
        <button mat-menu-item *ngFor="let cat of categories" [routerLink]="['/bycategory/', cat._id]">{{cat.catName}}</button> -->
      <button mat-button [routerLink]="['/login']">Admin</button>
    </div>
    <div *ngIf="loginStatus === true">
      <button id="menuButton" mat-button [matMenuTriggerFor]="menu">Admin</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/admin']">Home</button>
        <button mat-menu-item [routerLink]="['/category']">Category</button>
        <button mat-menu-item [routerLink]="['/post']">Post</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <div class="row text-center" id="header">
    <div class="col-md-12"><img class="img-responsive logo" src="../../images/OSTLogoLarge.png" />
      <h2 class="text-center subhead">Delivering
        Service<span>&nbsp;<b>FIRST!</b></span></h2>
    </div>
  </div>
  <div class="container mainContainer">
    <router-outlet></router-outlet>
    <div class="row text-center">
      <div class="container">
        <div class="col-md-12 copyright"><small class="text-center">© 2020 OST Advantage</small></div>
      </div>
    </div>
  </div>
</div>