  <div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="row" [routerLink]="['/details/', post.id]">
      <div class="col-md-3">
        <h3>{{post.postTitle}}</h3>
        <h4>By: {{post.postAuthor}}, {{post.updated | date: 'dd MMM yyyy'}}</h4>
      </div>
      <div class="col-md-9" [innerHTML]="post.postContent" >  </div>
      <mat-card-actions></mat-card-actions>
    </div>
  </div>
