<div class="dashboard" id="dashboard">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="row">
    <div class="col-md-1">
      <a mat-flat-button [routerLink]="['/post']">Return</a>
    </div>
  </div>
  <div class="row posting">
    <div class="col-md-3">
      <p><b>{{post.postTitle}}</b></p>
      <p>Created by: {{post.postAuthor}}</p>
      <p>Updated: {{post.updated | date}}</p>
      <p>Contact: {{post.postReference}}</p>
    </div>
    <div class="col-md-4">
      <p>Qualifications:</p>
      <small innerHTML={{post.postQualifications}}></small>
    </div>
    <div class="col-md-4">
      <p>Duties and Benefits:</p>
      <small innerHTML={{post.postDescription}}></small>
    </div>
    <div class="col-md-1">
      <a class="btn btn-block" [routerLink]="['/post/edit', post.id]">
        <mat-icon>edit</mat-icon>
      </a>
      <a class="btn btn-block" button (click)="deletePost(post.id)">
        <mat-icon>delete</mat-icon>
      </a>
    </div>
  </div>
</div>