<div class="dashboard">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="row" [routerLink]="['/details/', applicant.id]">
        <div class="col-md-2">
            <h3>{{applicant.appName}}</h3>
            <h4>{{applicant.appSubmit | date: 'dd MMM yyyy'}}</h4>
        </div>
        <div class="col-md-3">
            <h4><b>Contact Details:</b></h4>
            <h4>{{appPhone}}</h4>
            <h4>{{appEmail}}</h4>
            <h4>{{appAddress1}}, {{appAddress2}}</h4>
        </div>
        <div class="col-md-5">
            <h4><b>Resume:</b></h4>
            <p>{{appResume}}</p>
        </div>
        <mat-card-actions></mat-card-actions>
        <hr>
    </div>
    <div class="col-md-1">
        <a class="btn btn-block" [routerLink]="['/post/details', post.id]">
            <mat-icon>view</mat-icon>
        </a>
        <a class="btn btn-block" [routerLink]="['/post/edit', post.id]">
            <mat-icon>edit</mat-icon>
        </a>
        <a class="btn btn-block" button (click)="deletePost(post.id)">
            <mat-icon>delete</mat-icon>
        </a>
    </div>
</div>
