<div>
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>ß
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/category']">
      Back
    </a>
  </div>
  <mat-card class="card dashboard">
    <form [formGroup]="categoryForm" (ngSubmit)="onFormSubmit()">
      <div class="form-group">
        <label for="catName">Category Name</label>
        <input matInput placeholder="Category Name" formControlName="catName" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!categoryForm.get('catName').valid && categoryForm.get('catName').touched">Please enter Category
            Name</span>
        </mat-error>
      </div>
      <div class="form-group">
        <label for="catContent">Category Name</label>
        <ckeditor matInput placehoder="Category Content" formControlName="catContent" required></ckeditor>
        <mat-error>
          <span *ngIf="!categoryForm.get('catContent').valid && categoryForm.get('catContent').touched">Please enter
            Category Description</span>
        </mat-error>
      </div> 
      <button type="submit" [disabled]="!categoryForm.valid" mat-flat-button color="primary">
        Save
      </button>
    </form>
  </mat-card>
</div>