.bulletin{
    min-height:500px;
    margin:20px
}

mat-expansion-panel {
    margin:10px;
    background-color: rgba(255, 44, 44, 0.644);
    color:white;
    border-radius: 20px;
    border: 1px solid red
}

#body {
    padding: 30px 24px 16px !important;
    background-color:white;
    color:black
}
