.bulletin{
    min-height:500px;
    margin:20px
}

mat-expansion-panel {
    margin:10px;
    background-color: rgba(255,255,255,0.6);
    color:black;
    border-radius: 20px;
    border: 1px solid red
}
