  <div>
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div>
      <h3>Current OST Advantage Employees Only</h3>
      <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)">
        <mat-form-field class="example-full-width">
          <label for="email">Admin Email</label>
          <input class="form-control" matInput type="email" formControlName="username"
            [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">Please enter your
              username, must be a valid OST advantage employee username</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <label for="password">Password</label>
          <input class="form-control" matInput type="password" formControlName="password"
            [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Please enter your
              password</span>
          </mat-error>
        </mat-form-field>
        <span class="button-row">
          <button type="submit" value="Submit" [disabled]="!loginForm.valid" class="btn btn-block" >Login</button>
        </span>
        <span class="button-row">
            <br>
            <p><b>New here? &nbsp;&nbsp;<a class="link" (click)="register()">Register</a> </b></p>
            <p><b>Here by mistake? Go back &nbsp;&nbsp;<a class="link" [routerLink]="['/home']">Home</a></b></p>
            </span>
      </form>
    </div>
  </div>
