.mat-form-field {
    display: block;
    padding :15px
}

.form-control {
    background: #FFF;
    border: 2px solid #D8E1E4;
    height: 54px;
    font-size: 14px;
    padding: 15px;
    color: black
}

.mat-flat-button {
    margin:20px;
    width: 100px;
    background: red;
    border: 2px darkred;
    color:white;
}

.register {
    float:right
}

.link{
    text-decoration: none !important;
    color:red !important; 
}
.link:hover{
    text-decoration: underline !important;
    color: gold !important;
    cursor: pointer !important;
}