.dashboard {
        background:url(https://image.freepik.com/free-vector/abstract-red-line-black-background-business-card_41981-1024.jpg) no-repeat center center fixed;
    min-height: 500px;
    background-size: cover;
}

.mat-flat-button {
    margin: 15px 15px 0 15px;
    background-color: red;
}

.input {
    margin-top: 10%
}