<div class="container">
    <form [formGroup]="contractorForm" (ngSubmit)="onFormSubmit()">
        <h3 class="text-center">Contractor Contact Form</h3>
        <h4 class="text-center">Join OST Today!</h4>
        <div class="form-group">
            <input class="form-control" type="company" placeholder="Company" required="required" formControlName="company"/>
        </div>
        <div class="ajax-hidden">
            <div class="form-group">
                <input class="form-control" placeholder="Name"  required="required" formControlName="conName"/>
            </div>
        </div>
        <div class="form-group">
            <input class="form-control" type="email" placeholder="E-mail" required="required" formControlName="conEmail"/>
        </div>
        <div class="form-group">
            <input class="form-control" type="phone"  placeholder="Phone" required="required" formControlName="conPhone"/>
        </div>
        <div class="form-group">
            <textarea class="form-control"  rows="1" placeholder="Address Line 1 (include Unit/Apt)" formControlName="conAddress1"></textarea>
        </div>
        <div class="form-group">
            <textarea class="form-control"  rows="1" placeholder="Address Line 2" formControlName="conAddress2"></textarea>
        </div>
        <div class="form-group">
            <label for="message">Message</label>
            <ckeditor matInput class="form-control"  rows="6" placeholder="Message" formControlName="message"></ckeditor>
        </div>
        <p class="text-center">**Must Complete ALL Fields</p>
        <button class="btn btn-block" type="submit" [disabled]="!contractorForm.valid" mat-flat-button >
            Submit
        </button>
        
        <br>
    </form>
</div>