<div class="dashboard">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="row">
    <a mat-flat-button [routerLink]="['add']">Add Contractor</a>
  </div>
  <hr>
  <h3>Contractor Contacts:</h3>
  <div class="row">
    <div class="col-md-3 contract" *ngFor="let con of data" [routerLink]="['details/', con._id]">
        <p><b>{{con.conName}}</b></p>
        <p> Submitted: {{con.updated | date: 'dd MMM yyyy'}}</p>
    </div>
  </div>

</div>